*{
	margin:0;
	padding:0;
	text-decoration: none;
	list-style:none;
}
.asideLiNav{
	box-shadow: 5px 5px  20px 1px rgba(0,0,0,0.18);
}
.aNav1{
	width:30%;
	height:100%;
	/*background:red;*/
	float:left;
	margin-right:20px;
}
.aNav1>li{
	height:70px;
	/*background:yellow;*/	
}
.aNav1>li:hover{
	background: none;
}
.aNav1 img{
	width:40px;
	height:40px;
	float:left;	
}
.aNav1>li>a{
	display: block;
	float:left;
}
.aNav1>li>a:hover span{
	color:#FF6700;
}
.aNav1>li>a>span{
	display:block;
	float:left;
	line-height:40px;
	margin-left:10px;
	color:#333;
	font-size:13px;
	font-family: "微软雅黑";
}
.xmxg{
	width:58px;
	height:22px;
	border:1px solid #ff6700;
	color:#333;
	font-size:12px;
	font-family: "微软雅黑";
	text-align:center;
	line-height:24px;
    float:right;
    margin-top:8px;
}
.xmxg #xmxg{
	color:#ff6700;	
}
.xmxg:hover #xmxg{
	color:#fff;
}
.xmxg:hover{
	background:#ff6700;
}
