/*
* @Author: lenovo
* @Date:   2017-07-22 14:49:53
* @Last Modified by:   lenovo
* @Last Modified time: 2017-07-23 16:46:37
*/
body{
	background: #f5f6fa;
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	
}
/* 头部开始 */
header{
	width: 100%;
	height: 0.92rem;
	background: #0078e6;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}
.header-son{
	width: 2.02rem;
	height: 100%;
    margin: 0 auto;
   background: #0078e6;
}
.header-logo{
	width: 0.71rem;
	height: 0.71rem;
	background: url('../img/logo.png') no-repeat center center;
	background-size: 0.71rem 0.71rem;
	margin-top: 0.1rem;
	float: left;
}
.header-text{
	width: 1.16rem;
	height: 100%;
	float: right;
	background: #0078e6;
	font-size: 0.35rem;
	text-align: center;
	line-height: 0.92rem;
	color: #ffffff;
}
.header-top{
	width: 100%;
	height: 0.92rem;
}
/* 头部结束 */
/* banner开始 */
.banner{
	width: 100%;
	height: 2.80rem;
	background: red;
}
.banner a{
	width: 100%;
	height: 100%;
	display: block;
}
.banner a img{
	width: 100%;
	height: 100%;
	display: block;
}
/* banner结束 */
/* 首页开始 */
.text{
	width: 100%;
	height: 0.64rem;
	/* background: blue; */

}
.text a{
	height: 100%;
	display: block;
	font-size: 0.21rem;
	color: #000;
	margin-left: 0.23rem;
	line-height: 0.64rem;
	float: left;

}
.text span{
	height: 100%;
	display: block;
	font-size: 0.21rem;
	color: #000;
	margin-left: 0.23rem;
	line-height: 0.64rem;
	float: left;

}
/* 首页结束 */
/* 用户体验开始 */
.yonghu{
	width: 7.04rem;
	height: 13.89rem;
	background: #fff;
	margin: 0 auto;
	margin-bottom: 0.07rem;
}
.yonghu-top{
	width: 100%;
	height: 0.7rem;
	/* background: red; */
}
.yonghu-tleft{
	width: 0.04rem;
	height: 0.2rem;
	background: #01b5ff;
	float: left;
	margin-top: 0.32rem;
	margin-left: 0.19rem;
}
.yonghu-tright{
	width: 6.4rem;
	height: 0.5rem;
	margin-left: 0.19rem;
	float: left;
	font-size: 0.22rem;
	color: #000;
	padding-top: 0.2rem;
	font-weight: bold;
}
.yonghu-bottom{
	width: 100%;
	height: 1.98rem;
	/* background: green; */
}
.yonghu-btop{
	width: 100%;
	height: 1.32rem;
	/* background: purple; */
}
.yonghu-bleft{
	width: 0.15rem;
	height: 0.15rem;
	background: #01b5ff;
	border-radius: 50%;
	float: left;
	margin-left: 0.17rem;
	box-shadow: 0 0 0.05rem 0.05rem rgba(206, 241,255, 0.6);
	position: relative;
}
.yonghu-blson{
	width: 0.1rem;
	height: 0.1rem;
	background:#01b5ff;
	border: 0.02rem solid #fff;
	box-sizing: border-box;
	border-radius: 50%;
	position: absolute;
	top:50%;
	margin-top: -0.06rem;
	left: 50%;
	margin-left: -0.05rem;
}
.yonghu-bright{
	width: 6.4rem;
	height: 100%;
	margin-left: 0.13rem;
	font-size: 0.22rem;
	color: #666666;
	line-height: 0.3rem;
	/* background: red; */
	float: left;
}
.yonghu-bbottom{
	width:6.4rem;
	height: 0.58rem;
	/* background: blue; */
	margin-top: 0.04rem;
	margin-left: 0.42rem;
	border-bottom: 0.01rem dashed #999999;

}
.yonghu-bbottom a{
	display: block;
	font-size: 0.24rem;
	color: #ff9300;
	text-align: center;
	line-height: 0.58rem;
}
/* 用户体验结束 */
/* 跳转开始 */
    
.tiaozhuan{
	width: 100%;
	height: 0.7rem;
	background: #fff;
	overflow: hidden;
}
.tiaozhuan-son1{
   width: 0.58rem;
   height: 0.32rem;
   background: red;
   margin-left: 0.2rem;
   margin-top:0.19rem;
   float: left;
}
.tiaozhuan-son1 a{
   width: 0.58rem;
   height: 0.32rem;
  display: block;
}
.tiaozhuan-son1 a img{
   width: 0.58rem;
   height: 0.32rem;
  display: block;
}
.son2{
	margin-left: 0.16rem;
}
.tiaozhuan-son3{
	width: 0.58rem;
    height: 0.32rem;
    border: 0.01rem solid #999999;
    float: left;
    border-radius: 0.3rem;
    margin-left: 0.05rem;
    margin-right: 0.05rem;
    margin-top:0.19rem;
}
.son3-son{
	width: 0.5rem;
    height: 0.25rem;
    border: 0.01rem solid #e3e2e3;
    border-radius: 0.3rem;
    margin: 0.02rem auto;
    background: #fafafa;
}
.tiaozhuan-son2{
   width: 0.32rem;
   height: 0.32rem;
   background: #fff;
   border: 0.01rem solid #d4d4d4;
   border-radius: 50%;
   margin-left: 0.1rem;
   margin-top:0.19rem;
   float: left;
}
.tiaozhuan-son2 a{
   width: 0.32rem;
   height: 0.32rem;
  display: block;
}
.son1{
	background: #01b5ff;
}
.son2-son{
	 width: 0.26rem;
     height: 0.26rem;
     background: #fff;
     border: 0.01rem solid #060606;
     border-radius: 50%;
     margin: 0.02rem auto;
     font-size: 0.13rem;
     text-align: center;
     line-height: 0.26rem;
     /* font-weight: bold; */
     color: #000;

}
.son4{
	background: #01b5ff;
}
.son5{
	width: 0.44rem;
	height: 0.44rem;
	/* background: red; */
}
.son6{
	width: 0.4rem;
	height: 0.4rem;
	/* background: green; */
	line-height: 0.4rem;
}
.tiaozhuan span{
	height: 0.32rem;
	display: block;
	 margin-left: 0.15rem;
   margin-top:0.19rem;
   font-size: 0.16rem;
   color: #000;
   float: left;

}
.tiaozhuan .ye{
	margin-left: 0rem;
}
/* 跳转结束 */
/* 底部开始 */
footer{
	width: 100%;
	height: 1rem;
	/* background: gray; */
	
}
footer span{
	width: 100%;
	height: 0.21rem;
	margin-top: 0.25rem;
	display: block;
	font-size: 0.16rem;
	color: #666666;
	text-align: center;
	line-height: 0.21rem;
}
/* 底部结束 */