*{
	margin: 0;
	padding: 0;
}
body{
	/*background-image: url(../img/tupian2.jpg);
	background-repeat: no-repeat;
	background-size: 100% 670px;*/
	background: #FAF9E5;

}
.char{
	width: 100px;
	height: 100px;
	/*background: skyblue;*/
	font-size: 0px;
	color: greenyellow;
	text-align: center;
	line-height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	background-size: 100px 100px;
	background-position: center;
	border-radius: 50%;
}
.big{
	width: 400px;
	height: 400px;
	background: url(../img/2034846_230500097379_2.jpg);
	background-size: 400px 400px;
	border-radius: 50%;
	position: relative;
	
}
.score{
	/*width: 100px;
	height:40px;*/
	/*background: url(../img/1.png);*/
	font-size: 16px;
	color: #87CEEB;
	/*text-align:center;
	line-height:40px;*/
	position: absolute;
	top:95px;
	left:130px;
}
.score span{
	color: #333;
}
	
.lifes{
	/*width: 100px;
	height:40px;
	background: pink;*/
	font-size: 16px;
	color: #87CEEB;
	/*text-align:center;
	line-height:40px;*/
	position: absolute;
	top:115px;
	left:130px;
}
.lifes span{
	color: red;
}
.office{
	width: 300px;
	height:300px;
	background-image:url(../img/next.png);
	font-size: 24px;
	color: #87CEEB;
	font-weight: 800;
	padding-left: 50px;
	line-height:360px;
	/*background-size: 150px 100px;
	background-position: 100px;*/
	background-repeat: no-repeat;
	position: fixed;
	top: 0px;
	right: 50px;
	/*z-index: 999;*/
	
}
.office span{
	color: red;
}
